	<div class="main divlogin">
		
	  <div id="accntform">
		  <h3 class="">Connect With Us!</h3> 
				<input type="text"  id="fname" class="" placeholder="Your Name">
				<input type="email"  id="emailid" class="" placeholder="Your email id" email> 
				<input type="text"  id="message" class="" placeholder="Your message goes here">
				<input type="button" class="Contactbtn" id="submit" value="Submit" (click)="submit()" />
	  </div>  
	     
	  <div class="divcontactimg" >   
		  <img src="../../../assets/images/logInBg.jpg" alt="contact us">    
			  </div> 
	  </div>

<br /><br /> <br /> <br /> <br />
