/*contact page............
................................. media query, have an account to be added*/

/* Header styles*/
.divlogin h3 {
  /*margin-left: 2%;*/
  color: #4189CC;
  margin: 5% 0% 5% 2%;
}


/* Main container*/
.main{
  display: flex;
  box-sizing: border-box;
}

/* styles for first div inside main container*/
#accntform {
  width: 50%;
  background-color: rgb(248, 250, 251);
  padding: 5%;
  margin: 0 auto;
}

/* styles for second div inside main container*/
.divcontactimg {
  width: 50%;
}

  /* Image styles*/
.divcontactimg img {
  width: 70%;
  margin: 15%;
  overflow: hidden;
}


/* Imput controls styles*/
.divlogin input{
  display: block;
}

input {
  padding: 2%;
  width: 100%;
  margin: 2%;
}

#message{
  height: 15vh;
}
/* Button styles*/
.divlogin .Contactbtn {
  background-color: #4189CC;
  border: grey;
  font-size: 20px;
  color: white;
  padding: 2%;
  margin-left: 2%;
}


/*Media queries for small devices whose max width is 768 px*/
@media screen and (max-width: 768px) {

  /*set display block when page is small*/
  .main {
    display: block !important;
  }

  #accntform {
    overflow: hidden;
    width: 100% !important;
  
  }

  .divcontactimg {
    width: 100%;
  }

  .divcontactimg img {
    width: 70%;
    overflow: hidden;
  }

  h3 {
    margin-top: 30% !important;
    text-align: center;
    overflow: hidden;
  }

  #message {
    height: 10vh;
  }
}

