	<div class="row divlogin">
		
	 
		  
	  <div class="col-sm-6">
	 
	  <div id="accntform">
		  <h3 class="blueTheme">Connect With Us!</h3> 
		  
	
			  <div class="form-group">
				<label class="control-label">User Name</label>
				<input type="text"  id="fname" class="form-control" 
				placeholder="Your username">
			  </div>
	
			 
	
			  <div class="form-group">
				<label class="control-label">Email Id</label>
				<input type="text" 
				 id="emailid" class="form-control" placeholder="Your email id">
				
			  </div>
			  <div class="form-group">
				<label class="control-label">Message</label>
				<input type="text"  id="message" class="form-control" placeholder="Your message goes here">
				
			  </div>
			  <div class="form-group">
				<input type="button" class="btn btn-primary expanded signUpbtn" id="submit"
				 value="Submit" >
			  </div>
	  </div>  
	   
		  
		 
	  </div>   
	  <div class="col-sm-6 divmascot" >   
	
		  <img src="../../../assets/images/logInBg.jpg" alt="mascot">    
			  </div> 
	  </div> 
	  