<!-- <div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div> -->
  
  <div class="container">
    <h2 class="adminDb blueTheme">User Dashboard</h2>
    <div class="flex-container">

      
          <div class="card">
              <img class="card-img-top"  src="../../../assets/images/user.JPG" alt="Schedule a Booking">
              <div class="card-body">
                <h5 class="card-title"> 
                  <input type="button" class="btn btn-primary expanded" 
                  id="submit" value="Schedule a Booking"  [routerLink]="['/setMyHome/nonadmin/booking']">
                </h5>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
         
          <div class="card">
              <img class="card-img-top"  src="../../../assets/images/user.JPG" alt="View my Bookings">
              <div class="card-body">
                <h5 class="card-title"> 
                  <input type="button" class="btn btn-primary expanded" 
                  id="submit" value="View my Bookings"  [routerLink]="['/setMyHome/nonadmin/booking/view']">
                </h5>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
          </div>


    </div>
  
    
