<div class="row firstRow">
<div class="col-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">View</div>
        <div class="card-body">
          <h5 class="card-title">View All Users</h5>
          <p class="card-text">Click here to see all registered users</p>
        </div>
      </div>

</div>

<div class="col-3">

    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Schedule</div>
        <div class="card-body">
          <h5 class="card-title">Create GiveAway Event</h5>
          <p class="card-text">Click here to schedule a new event</p>
        </div>
      </div>
  </div>

</div>

  
 