<!-- <div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div> -->
  
  <div class="container">
    <h2 class="adminDb blueTheme">Admin Dashboard</h2>
    <div class="flex-container">

      
          <div class="card">
              <img class="card-img-top"  src="../../../assets/images/user.JPG" alt="User Management">
              <div class="card-body">
                <h5 class="card-title"> 
                  <input type="button" class="btn btn-primary expanded" 
                  id="submit" value="Users"  [routerLink]="['/setMyHome/admin/userList']">
                </h5>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            
      
          <div class="card">
              <img class="card-img-top" src="../../../assets/images/event.JPG" alt="Event Management">
              <div class="card-body">
                  <input type="button" class="btn btn-primary expanded" 
                  id="submit" value="Events" [routerLink]="['/setMyHome/admin/eventPage']" >
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
       

       

            <div class="card">
                <img class="card-img-top" src="../../../assets/images/bookings.JPG" alt="Bookings">
                <div class="card-body">
                    <input type="button" class="btn btn-primary expanded" [routerLink]="['/setMyHome/admin/bookings']"
                    id="submit" value="Bookings">
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
        
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/analytics.JPG" alt="Analytics">
                <div class="card-body">
                    <input type="button" class="btn expanded" 
                    id="submit" value="Analytics" >
                 <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
          </div>


    </div>
  
    
