<div class="dashboard_cont section_pad">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="cards">
					<div class="cards_heading">
						<h3 class="blueTheme">Booking List</h3>
					</div>
					<div class="cards_content">
							<div *ngIf="bookings">
									<div class="table-responsive">
									  <table class="table">
											<!-- table headers for viewing all bookings by event name, time slot, user first name, user type -->
										<thead class="thead-dark">
										  <tr>
											<th scope="col">Event Name</th>
											<!-- <th scope="col">Time Slot</th> -->
											<th scope="col">User Name</th>
											<th scope="col">User Type</th>
											<th scope="col">Action</th>
										  </tr>
										</thead>
										<tbody>
											<!-- table rows for bookings-->
                      <tr *ngFor="let booking of bookings">
                        <th scope="row">{{booking.event.name}}</th>
                        <!-- <td>{{booking.timeSlot}}</td> -->
                        <td>{{booking.person.fname}}</td>
                        <td>{{booking.person.type}}</td>
                        <td><input type="button" class="btn btn-primary" (click)="openModal(booking.bookingId)" data-toggle="modal" data-target="#myModal" value="View Booking" id="details" /></td>
                      </tr>
										</tbody>
									  </table>
								  
								  
									</div>
								  
									<!-- The Modal -->
									<div class="modal fade" id="myModal">
									  <div class="modal-dialog">
										<div class="modal-content">
								  
										  <!-- Modal Header -->
										  <div class="modal-header">
											<h4 class="modal-title">Booking Details</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										  </div>
								  
										  <!-- Modal body -->
                      <div class="modal-body">

                        <ul style="text-align:center">
                          <li><strong>Event: </strong>{{filteredBookings.event.name}}</li>
                          <li><strong>Time slot: </strong>{{filteredBookings.timeSlot}}</li>
                          <li><strong>Event Date: </strong>{{filteredBookings.event.date}}</li>
                          <li><strong>Furniture Items:</strong></li>
                          <!--<li *ngFor="let booking of bookings">{{filteredBookings.bookedFurniture.furniture.furnitureName}}&nbsp; Count: {{booking.bookedFurniture.furniture.count}}</li>-->
                        </ul>



                       	<div *ngIf="filteredBookings">
													<ul>
															<li><strong>Event: </strong>{{filteredBookings.event.name}}</li>
															<li><strong>Time Slot: </strong>{{filteredBookings.timeSlot}}</li>
															<li><strong>Date: </strong>{{filteredBookings.event.date}}</li>
															<li><strong>Items </strong></li>
															



															<div class="table-responsive">
																	<table class="table">
																		<thead class="thead-dark">
																			<tr>
																				<th scope="col">Furniture Name</th>
																				<th scope="col">Quantity</th>
																				
									
																				
																			</tr>
																		</thead>
																		<tbody>
																																	
									
														<tr *ngFor="let bookedFurniture of filteredBookings.bookedFurniture">
														  <th scope="row">{{bookedFurniture.furniture.furnitureName}}</th>
														  <td>{{bookedFurniture.count}}</td>
														  
														</tr>
																		</tbody>
																	</table>
																</div>

															<!-- <li *ngFor="let bookedFurniture of filteredBookings.bookedFurniture">{{bookedFurniture.furniture.furnitureName}}&nbsp; Quantity: {{bookedFurniture.count}}</li> -->
														  </ul>
											</div>

                      </div>
								  
										  <!-- Modal footer -->
										  <div class="modal-footer">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
										  </div>
								  
										</div>
									  </div>
									</div>
									
									<!-- for rounting back to admin page -->
									<input type="button" class="btn btn-primary main_btn main_btn_outline" [routerLink]="['/setMyHome/admin']"
										   id="Back" value="Back">
								  
								  
								  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



