<div class="myHomeSection1 py-5 mt-5">
	<div class="container text-center">
		<div class="col-12 myCol1Section1 pt-0 pb-0">
			<h2 class="journeyHeader myhomeheader text-center">Gallery</h2>
			<p class="journeyPara text-center mb-5 pb-5">SetMyHouse lets students set up their  homes quickly and easily. It connects church organisations, donors, students to come together and help each other. It is a way for the community to collaborate and have fun!</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="gallery_img  mb-4">
					<a href="../../../assets/images/gallery/gallery1.jpg" target="_blank" class="d-block" style="background: url(../../../assets/images/gallery/gallery1.jpg) no-repeat center center"></a>
					<div class="desc">
						See how we how our group transformed Rakesh's living room into a cozy space 
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="gallery_img  mb-4">
					<a href="../../../assets/images/gallery/gallery2.jpg" target="_blank" class="d-block" style="background: url(../../../assets/images/gallery/gallery2.jpg) no-repeat center center"></a>
					<div class="desc">
						Tanya is all happy with her new furniture
					</div>
				</div>
				
			</div>
			<div class="col-md-6">
				<div class="gallery_img  mb-4">
					<a href="../../../assets/images/gallery/gallery3.jpg" target="_blank" class="d-block" style="background: url(../../../assets/images/gallery/gallery3.jpg) no-repeat center center"></a>
					<div class="desc">
						Bishvesh and his roommates can all sit and play uno together now
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="gallery_img  mb-4">
					<a href="../../../assets/images/gallery/gallery4.jpg" target="_blank" class="d-block" style="background: url(../../../assets/images/gallery/gallery4.jpg) no-repeat center center"></a>
					<div class="desc">
						Dipak wanted a couch just for himself, and he got that
					</div>
				</div>
			</div>
		</div>
	</div>
</div>