.myNav {
	background-color: #FF726A;
}

.searchBox
{
    width: 30%;
}
.mybtn {
	background-color: #4189CC;
}

 @media (max-width: 985px)
  {
.searchBox
    {
        width: 60%;
    }
  }
  
  
  @media screen and (max-width: 480px){
      
  }
  
  @media screen and (max-width: 768px){
      
  }