
.divlogin{                    /* CSS for div containing login section */
    margin-top: 5%;            /*5% is the width of .divlogin to make it more responsive*/
    padding-bottom: 2.5rem;     /*rem is relative to font-size of root element*/
    overflow: hidden;
}

.divmascot img
{   
    max-width:100%;     /* for responsiveness */
    max-height:100%;     /*100% of .divmascot element's height to make it responsive*/
}

.divlogin input
{
    display: block;  
}

.divlogin button{
    background-color: #4189CC; /* back ground color as per our color palette*/
	border: grey;
	font-size: 20px;
	color: white;
    padding: 2%;    /*Specified in percentages to make it responsive*/
    margin: 4%;      /*Specified in percentages to make it responsive*/
    width: 65%;     /*Specified in percentages to make it responsive*/
}


.divlogin h3{
    padding: 2% 0;  /*Specified in percentages to make it responsive*/
}



.divlogin a
{
    text-decoration: none;
    color: green;
    margin: 0 6%;   /*Specified in percentages to make it responsive*/
}

 #btnhaveacc   /* CSS for button 'Already have an Account?' */
{
    background-color: transparent;  
    color:green;
    margin-bottom: 0;
    padding-bottom:2% ; /*Specified in percentages to make it responsive*/
    font-size: 1em;
    margin: auto;
    width: 100%;        /*100% of #btnhaveacc's width*/
}


#accntform             /* div containing the login form */
{
    width: 100%;    /*Specified in percentages to make it responsive*/
    background-color: rgb(248, 250, 251);
    padding: 5%;    /*Specified in percentages to make it responsive*/
    margin: 0 auto; /* center aligning */

}


.signUpbtn
{
    width: 100%; /* 100% of accntform div's width */
}

#passinstruct
{
    padding: 2%;    /*Specified in percentages to make it responsive*/
    background-color: lightgreen;

}

.form-group.required .control-label:after {
    content:"*";
    color:red;
  }

  /* media queries */
  @media (max-width: 985px)
{
    .divlogin.col-sm-6 {
        width: 80%; /*Specified in percentages to make it responsive*/
        overflow: hidden;
    }
    
    .divlogin.col-sm-4{
         width: 80%;    /*Specified in percentages to make it responsive*/
        overflow: hidden;
    }
    
    .divmascot img{
        width: 50%;         /*50% of .divmascot width*/
        margin-left: 25%;   /*Specified in percentages to make it responsive*/
    }
    
    footer{
       position: relative;
        height: 8em;
    }
    
    .col-sm-4{
        margin-left: 15%;
    }
    
    .maindiv{
        display: block;
    }
}


@media screen and (max-width: 480px){
    
}

@media screen and (max-width: 768px){
    
}
