<div class="divlogin my-5 py-5" style="margin:140px 0 !important;">
<div class="row">
	<!-- start of login -form section-->
	<div class="col-md-6">
		<form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
	
			<div id="loginform">
				<h3 class="blueTheme">Welcome to SetMyHouse!</h3>
				<div class="form-group required">
					<label class="control-label">Email Address</label>
					<input type="text" formControlName="emailid" id="emailid" class="form-control">
					<!-- validations for email address-->
					<div class="alert alert-danger" *ngIf="!rForm.controls['emailid'].valid &&
			 rForm.controls['emailid'].touched">
						<div *ngIf="rForm.controls['emailid'].errors.required">
							Email Id is required
						</div>
						<div *ngIf="rForm.controls['emailid'].errors.maxlength">
							Email Id cannot be more than 25 characters
						</div>
					</div>
				</div>
	
				<div class="form-group required">
					<label class="control-label">Password</label>
					<input type="password" formControlName="password" id="password" class="form-control">
					
					<!-- validations for password-->
					<div class="alert alert-danger"
						*ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
						<div *ngIf="rForm.controls['password'].errors.required">
							Password is required
						</div>
						<div *ngIf="rForm.controls['password'].errors.maxlength">
							Password cannot be more than 13 characters
						</div>
						<div *ngIf="rForm.controls['password'].errors.minlength">
							Password cannot be less than 8 characters
						</div>
					</div>
				</div>
	
				<button type="button" id="btnfrpass" name="forgot password">Forgot Password?</button>
				<button type="button" id="btnNoaccnt" name="forgot password" [routerLink]="['/setMyHome/signUp']">Don't
					have an
					account?</button>
	
				<div class="form-group">
					<input type="submit" class="btn btn-primary expanded loginbtn" id="submit" value="Log In"
						[disabled]="!rForm.valid">
				</div>
			</div>
		</form>
	</div>
	<!-- end of login -form section-->
	<!-- start of mascot section-->
	<div class="col-md-6 divmascot">
		<img src="../../../assets/images/mascot.JPG" alt="mascot">
	</div>
	<!-- start of mascot section-->
</div>

</div>