<!--   start of home page carousel-->
<div class="banner_cont">
		<div class="banner_box">
			<div class="jumbotron">
				<h1 class="display-4 myhomeheader">Free Furniture Giveaway</h1>
				<p>Come, Grab and Go!!</p>
			</div>
		</div>
		
		
		<div id="carouselExampleIndicators" class="carousel slide myHomeCarousel mt-0" data-ride="carousel">
				
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="../../../assets/images/volunteer.jpg" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../../assets/images/homeimage.jpg" alt="Second slide">
					</div>
          <!--<div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/students.jpeg" alt="Third slide">
          </div>-->
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
				</a>
			</div>
</div>

<!--   end of home page carousel-->


<!--  navigation ends -->

<div class="myHomeSection1 py-5">
	<div class="container text-center">
		<div class="col-12 myCol1Section1 pt-0 pb-0">
			<h2 class="journeyHeader myhomeheader text-center">Giving Away Smiles..The Journey So Far</h2>
			<p class="journeyPara text-center">SetMyHouse lets students set up their  homes quickly and easily. It connects church organisations, donors, students to come together and help each other. It is a way for the community to collaborate and have fun!</p>
		</div>
		<div class="stud_count p-4 mb-5">
				<h2 class="text-center">14.6M</h2>
				<p class="text-center">Students benefited</p>
			</div>
	</div>
	<!-- <div class="col-4 myCol2Section1">

				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"
						src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
						allowfullscreen></iframe>
				</div>

			</div> -->

</div>



<div class="myHomeSection2 py-5">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="valueHeader text-center">Our Values</h2>
			</div>
		</div>
		<div class="row sec2row2" style="text-align: center">
	
			<div class="col-md-4">
				<img src="../../../assets/images/helping.JPG" width="120" height="100" class="d-inline-block align-top"
					alt="helping">
				<p>Helpfulness</p>
			</div>
			<div class="col-md-4">
				<img src="../../../assets/images/compassion.JPG" width="120" height="100" class="d-inline-block align-top"
					alt="compassion">
				<p>Compassion</p>
			</div>
			<div class="col-md-4">
				<img src="../../../assets/images/community.JPG" width="120" height="100" class="d-inline-block align-top"
					alt="helping">
				<p>Sense of Community</p>
			</div>
		</div>
	
		<div class="row">
			<div class="col myCol1Section2">
				<h2 class="text-center">80 Families</h2>
				<p class="text-center px-5 px-md-0">Have pledged support to international students in
					Bryan/College Station area till date!</p>
			</div>
		</div>
	</div>
</div>
<div class="testimonials py-5 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-center m-auto text-center">
				<h2>Testimonials</h2>
				<div id="myCarousel" class="carousel slide myHomeCarousel mt-0" data-ride="carousel">				
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="img-box my-4"><img src="../../../assets/images/3.png" alt=""></div>
							<p class="testimonial">I am grateful to SetMyHouse for making an intuitive platform which is easy to use by international
							students when they arrive to College Station. My new flat was set up without any hassle.</p>
							<p class="overview"><b>Ashima Sharma</b>, International student</p>
						</div>
						<div class="carousel-item">
							<div class="img-box my-4"><img src="../../../assets/images/2.png" alt=""></div>
							<p class="testimonial">We’re so pleased to have SetMyHome in College Station as we feel that we have made a real difference in the lives of so many international students.</p>
							<p class="overview"><b>Ramyasri Martha</b>, Donor</p>
						</div>
						<div class="carousel-item">
							<div class="img-box my-4"><img src="../../../assets/images/1.png" alt=""></div>
							<p class="testimonial">SetMyHome has enabled us to organize hassle free giveaways each year. For the first time, it has brought donors, students, churches and volunteers under one common platform.
							</p>
							<p class="overview"><b>Nikhil G.</b>, Pastor, Northgate Church</p>
						</div>
					</div>
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span
							class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
					</a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span
							class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>	
