/* You can add global styles to this file, and also import other style files */
body, button, label {
	/* 	font-family: "National", "Helvetica", "Arial", sans-serif;
 */
	font-family: 'Century Gothic', Verdana, 'Helvetica Neue', sans-serif;
	letter-spacing: 1px;
	line-height: 1.44;
}
body{
    min-height: 100vh;
    box-sizing: border-box;
}
button {
	color: white;
}
.mybtn {
	background-color: #4189CC;
}